source: .
paths:
  uploads: assets/uploads
  static: ""

collections_config:
  posts:
    path: _posts
    name: Videos
    icon: videocam
    url: /posts/[slug]/
    output: true
    preview:
      text:
        - key: movie_name
      subtext:
        - key: category
      icon: local_movies

  series:
    path: _series
    name: Series
    icon: tv
    url: /series/[slug]/
    output: true
    preview:
      text:
        - key: series_name
      subtext:
        - key: category
      icon: dvr

  data:
    path: _data
    name: Data
    icon: settings
    output: false

_inputs:
  title:
    type: text
    label: Slug Title
  movie_name:
    type: text
    label: Movie Name
  series_name:
    type: text
    label: Series Name
  video_url:
    type: text
    label: Video URL
  description:
    type: textarea
    label: Description
  date:
    type: datetime
    label: Publish Date
  featured:
    type: checkbox
    label: Featured
  category:
    type: select
    options:
      values:
        - Movies
        - Drama
        - Action
        - Comedy
        - Horror
        - Sci-Fi
        - Other
  tags:
    type: array
    label: Tags
  
  seasons:
    type: array
    label: Seasons
    options:
      item_type: object
  
  episodes:
    type: array
    label: Episodes
    options:
      item_type: object

build:
  command: npx @pagebreak/cli -s . -o .

base_url: /
site_data:
  title: Shal Kyie Yoteshin
